<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>WPFinalProj</title>
  </head>
  <body>
    <footer class="footer-section">
      <div>copyright © All rights reserved</div>
      <div>웹프로그래밍 기말과제 | 201912327 | 임성균</div>
    </footer>
  </body>
</html>
