<html>
  <head>
    <!--  res.render('응답을 할 경로', {변수명:'값'})-->
    <!--  res.render('index', {title:'Express'})-->
    <!--  index.js가 전달한 변수인 title에 'Express'라는 값을 담아뒀기 때문에, -->
    <!--  화면에 'Express'가 출력됩니다.  -->
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="./main.ejs">main</a>
  </body>
</html>
