<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('header') %>
    <main class="main-section">
      <div class="form-container">
        <div class="form-main-text">LOGIN</div>
        <form action="/auth/login" method="post">
          <div id="login-box">
            <div class="input-box">
              <input
                type="text"
                name="username"
                placeholder="아이디"
                value="<%= typeof username !== 'undefined' ? username : '' %>" />
              <input type="password" name="password" placeholder="비밀번호" />
            </div>
            <input type="submit" value="LOGIN" />
          </div>
        </form>
        <% if (typeof errorMessage !== 'undefined') { %>
        <div class="error-message"><%= errorMessage %></div>
        <% } %>
        <div class="register-text">아직 회원이 아니신가요? <a href="/auth/register">회원가입</a></div>
      </div>
    </main>
  </body>
</html>
