<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('header') %>
    <main class="main-section">
      <div class="form-container">
        <div class="form-main-text">REGISTER</div>
        <form action="/auth/register" method="post">
          <div class="input-box">
            <input type="text" name="username" placeholder="아이디" required />
            <% if (typeof errorMessage !== 'undefined') { %>
            <div class="error-message"><%= errorMessage %></div>
            <% } %>
            <input id="password" type="password" name="password" placeholder="비밀번호" required />
            <input
              id="password_check"
              type="password"
              name="password_check"
              placeholder="비밀번호 확인"
              oninput="checkPassword()"
              onfocusout="checkPassword()"
              required />
            <div id="pwdCheckText">비밀번호가 일치하지 않습니다.</div>
            <input type="text" name="person_name" placeholder="이름" required />
            <input type="text" name="address" placeholder="주소" required />
            <input type="text" name="phone" placeholder="전화번호" required />
            <input type="submit" value="REGISTER" />
          </div>
        </form>
      </div>
    </main>
    <script>
      function checkPassword() {
        const password = document.querySelector("#password");
        const passwordCheck = document.querySelector("#password_check");
        const checkText = document.querySelector("#pwdCheckText");

        if (password.value !== passwordCheck.value) {
          console.log("pwd diff");
          checkText.style.visibility = "visible";
        } else {
          console.log("pwd same");
          checkText.style.visibility = "hidden";
        }
      }
    </script>
  </body>
</html>
