html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
.main-section{
    padding: 180px 80px;
}
#detail-container{
    display: flex;
    justify-content: center;
    margin: 50px auto 0;
    width: 100%;
    max-width: 1080px;
}
#detail-container #img-container{
    width: 50%;
}
#detail-container #img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#detail-container .text-container{
    flex: 1;
    padding: 0 50px;
}

#detail-container .text-container .product-name{
    font-size: 3vw;
    font-weight: 600;
}
#detail-container .text-container .product-description {
    white-space: pre-wrap;
    line-height: 50px;
    font-size: 2vw;
    color: grey;
}
#option{
    margin: 50px 0;
}
.option-div{
    display: flex;

    width: 100%;
    margin-bottom: 10px;
}
.option-div div:first-child{
    color: grey;
    margin-right: 100px;
}
#product-price{
    font-weight: 800;
}
#btn-container{
    display: flex;
    width: 100%;
}
#to-buy-btn{
    width: 50%;
    padding: 1rem 1.4rem;
    background-color: green;
    color: white;
    border: none;
    margin-right: 1rem;
}
#to-buy-btn:hover{
    background-color: grey;
}
#to-cart-btn{
    width: 50%;
    border: 1px solid grey;
    color: grey;
}
#to-cart-btn:hover{
    color: white;
    background-color: grey;
}

@media screen and (max-width: 950px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  
  @media screen and (max-width: 825px) {
    #detail-container{
        flex-direction: column;
    }
    #detail-container #img-container{
        width: 100%;
    }
    #detail-container .text-container{
        padding: 0;
    }
  }
  .header-section{
    width: 100%;
    height: 120px;
}
@media screen and (max-width: 420px) {
    #detail-container{
        margin: 0;
    }
    #detail-container .text-container .product-name{
        font-size: 1.3rem;
    }
    #detail-container .text-container .product-description {
        white-space: pre-wrap;
        line-height: 30px;
        font-size: 0.8rem;
    }
    #option{
        font-size: 0.8rem;
    }
  }