html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}

.main-section{
    padding: 180px 80px;
}
#category-name{
    font-size: 30px;
    text-align: center;
    margin: 40px 0 60px;
}
#search-option-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 10px;
}
#total-count-container{
    color:var(--grey);
}
.item-count{
    color:black;
}
#search-sort-list{
    display: flex;
    color: var(--grey);
}
#search-sort-list li{
    margin: 0 15px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    min-width: 700px;
  }
  
  .card-container {
    cursor: pointer;
    position: relative;
    height: 100%;
  }
  
  .card-container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.card-container:hover .img-overlay {
    opacity: 1;
}
  
.text-container {
    text-align: left;
    width: 100%;
    height: 30%;
    padding: 0 10px;
}
  
.product-name {
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
.product-price{
    color: white;
    font-size: 1vw;
    margin-top: 5px;
}

.original-price {
    text-decoration: line-through;
    color: #888;
  }
  .sale-price {
    color: white;
    font-weight: bold;
  }